<div class="modal" *ngIf="showModal" (click)="closeModal()">
  <div class="contenido" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <div id="contenedor-logo"><img src="assets/logoSinNombre.png" alt=""></div>  
    <h2>RECUPERAR CONTRASEÑA</h2>
    <p>Introduce tu correo electrónico para recuperar tu contraseña.</p>
    <br>
    <form>
      <label for="email"></label>
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Email" required>
      <br>
      <button id="recover" type="submit">Recuperar</button>
    </form>
  </div>
</div>