<section>
  <div class="bg-custom-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 *ngIf="language == 'es'" class="display-4">¿QUIÉNES SOMOS?</h1>
          <h1 *ngIf="language == 'en'" class="display-4">¿WHO WE ARE?</h1>
          <p  *ngIf="language == 'es'" class="lead mb-0">Bienvenido a StreamVision, la plataforma dedicada a la venta de películas y series en
            línea. Nos esforzamos por ofrecerte el mejor contenido de entretenimiento sin ofrecer pruebas gratuitas,
            asegurando un acceso directo y sin complicaciones a tus títulos favoritos.</p>
            <p  *ngIf="language == 'en'" class="lead mb-0">Welcome to StreamVision, the platform dedicated to selling movies and series online.
              online. We strive to bring you the best entertainment content without offering free trials,
              ensuring direct and hassle-free access to your favourite titles..</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png"
            alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>

  <div class="bg-custom-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 *ngIf="language == 'es'" class="font-weight-light">NUESTRA MISIÓN</h2>
          <h2 *ngIf="language == 'en'" class="font-weight-light">OUR MISSION</h2>
          <p *ngIf="language == 'es'" class="font-italic mb-4">Proporcionar una experiencia de entretenimiento en línea de alta calidad, con una
            amplia selección de películas y series que satisfacen todos los gustos. Desde los últimos éxitos hasta los
            clásicos atemporales, nuestra misión es ser tu primera opción para el entretenimiento en streaming.</p>
          <p *ngIf="language == 'en'" class="font-italic mb-4">Providing a high quality online entertainment experience, with a wide selection of films and series to suit all tastes.
            wide selection of films and series to suit all tastes. From the latest hits to timeless classics, our
            timeless classics, our mission is to be your first choice for streaming entertainment.</p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
            src="../../../assets/footer1.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="../../../assets/footer3.png" alt=""
            class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 *ngIf="language == 'es'" class="font-weight-light">CONTROL PARENTAL</h2>
          <h2 *ngIf="language == 'en'" class="font-weight-light">PARENTAL CONTROL</h2>
          <p *ngIf="language == 'es'" class="font-italic mb-4">En StreamVision, entendemos la importancia de un ambiente seguro para toda la
            familia. Ofrecemos opciones de control parental para que puedas gestionar el contenido que ven tus hijos,
            asegurando una experiencia de visualización adecuada para todas las edades.</p>
            <p *ngIf="language == 'en'" class="font-italic mb-4">At StreamVision, we understand the importance of a safe environment for the whole family.
              family. We offer parental control options so you can manage the content your children watch,
              ensuring a viewing experience suitable for all ages.</p>
        </div>
      </div>
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 *ngIf="language == 'es'" class="font-weight-light">NUESTROS VALORES</h2>
          <h2 *ngIf="language == 'en'" class="font-weight-light">OUR VALUES</h2>
          <p *ngIf="language == 'es'" class="font-italic mb-4">Compromiso con la calidad, integridad y satisfacción del cliente son los pilares
            de nuestro servicio. Creemos en ofrecer contenido de valor, apoyado por un servicio al cliente excepcional,
            para garantizar que tu experiencia con StreamVision sea insuperable.</p>
            <p *ngIf="language == 'en'" class="font-italic mb-4">Commitment to quality, integrity and customer satisfaction are the cornerstones of our service.
              of our service. We believe in delivering valuable content, supported by exceptional customer service,
              to ensure that your experience with StreamVision is second to none..</p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
            src="../../../assets/footer4.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
    </div>
  </div>

  <div class="bg-custom py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 *ngIf="language == 'es'" class="display-4 font-weight-light">Nuestro equipo</h2>
          <h2 *ngIf="language == 'en'" class="display-4 font-weight-light">Our team</h2>
        </div>
      </div>

      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0" style="color: black;">Lin Lu</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0" style="color: black;">Mario Cantalejo</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0" style="color: black;">Nikita Jaume</h5><span class="small text-uppercase text-muted">CEO - Founder</span>

          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0" style="color: black;">Juan Castro</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0" style="color: black;">Erik Flores</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0" style="color: black;">Pablo Salazar</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0" style="color: black;">Alberto Giovanni</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0" style="color: black;">Ignacio Rubio</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0" style="color: black;">Rodrigo Cieza</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          </div>
        </div>
        <!-- End-->
      </div>
    </div>
  </div>
</section>

<footer class="bg-custom pb-5">
  <div class="container text-center">
    <p class="font-italic mb-0">&copy; StreamVision Copyrights Company.com All rights reserved.</p>
  </div>
</footer>