<div  class="container margin_auto">
  <h3 *ngIf="language == 'es'" class="col-9 margin_auto margin_bottom padding_top">Política de Cookies</h3>
  <h3 *ngIf="language == 'en'" class="col-9 margin_auto margin_bottom padding_top">Cookie Policy</h3>
  <p *ngIf="language == 'es'" class="col-9 margin_auto margin_bottom">
    StreamVision utiliza cookies para mejorar tu experiencia de navegación. Las
    cookies son pequeños archivos de datos que se almacenan en tu dispositivo
    cuando visitas nuestro sitio web. Nos ayudan a entender cómo interactúas con
    nuestro sitio y a mejorar su funcionalidad.
  </p>
  <p *ngIf="language == 'en'" class="col-9 margin_auto margin_bottom">
    StreamVision uses cookies to improve your browsing experience. The
    cookies are small data files that are stored on your device when you visit our website.
    when you visit our website. They help us to understand how you interact with
    our site and improve its functionality.
  </p>
  <p *ngIf="language == 'es'" class="col-9 margin_auto margin_bottom">
    <strong>Tipos de Cookies</strong><br />Utilizamos cookies propias y de
    terceros para diversas finalidades, incluyendo cookies esenciales para el
    funcionamiento del sitio, cookies de rendimiento para analizar el uso del
    sitio, y cookies de funcionalidad para recordar tus preferencias.
  </p>
  <p *ngIf="language == 'en'" class="col-9 margin_auto margin_bottom">
    <strong>Tipos de Cookies</strong><br />We use own and third-party cookies
    third party cookies for a variety of purposes, including cookies essential to the operation of the
    operation of the site, performance cookies to analyse site usage and functionality cookies to
    site, and functionality cookies to remember your preferences.
  </p>
  <p *ngIf="language == 'es'" class="col-9 margin_auto margin_bottom">
    <strong>Gestión de Cookies</strong><br />Puedes configurar tu navegador para
    rechazar todas las cookies o para indicar cuándo se envía una cookie. Sin
    embargo, si no aceptas cookies, es posible que no puedas utilizar algunas
    partes de nuestro servicio. A continuación, se incluyen enlaces para
    gestionar las cookies en los navegadores más comunes:
  </p>
  <p *ngIf="language == 'en'" class="col-9 margin_auto margin_bottom">
    <strong>Cookie Management</strong><br />You can set your browser to
    refuse all cookies or to indicate when a cookie is being sent. Without
    However, if you do not accept cookies, you may not be able to use some parts of our service.
    parts of our service. Below are links to
    manage cookies in the most common browsers:
  </p>
  <ul class="col-9 margin_auto margin_bottom">
    <li>
      <a
        href="https://support.google.com/chrome/answer/95647?hl=es"
        target="_blank"
        >Google Chrome</a
      >
    </li>
    <li>
      <a
        href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias"
        target="_blank"
        >Mozilla Firefox</a
      >
    </li>
    <li>
      <a
        href="https://support.apple.com/es-es/guide/safari/sfri11471/mac"
        target="_blank"
        >Safari</a
      >
    </li>
    <li>
      <a
        href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies"
        target="_blank"
        >Internet Explorer</a
      >
    </li>
  </ul>

  <p *ngIf="language == 'es'" class="col-9 margin_auto margin_bottom">
    <strong>Cookies de Terceros</strong><br />Algunas cookies en nuestro sitio
    son colocadas por terceros para recopilar datos de navegación y
    comportamiento del usuario. Estas cookies son administradas por sus
    respectivos propietarios y están sujetas a sus propias políticas de
    privacidad.
  </p>
  <p *ngIf="language == 'en'" class="col-9 margin_auto margin_bottom">
    <strong>Third Party Cookies</strong><br />Some cookies on our site
    are placed by third parties to collect navigation data and user behaviour.
    user behaviour. These cookies are managed by their
    their respective owners and are subject to their own privacy policies.
    their own privacy policies.
  </p>
  <p *ngIf="language == 'es'" class="col-9 margin_auto padding_bottom">
    <strong>Consentimiento</strong><br />Al utilizar nuestro sitio web, aceptas
    el uso de cookies de acuerdo con esta política. Si no estás de acuerdo con
    el uso de cookies, debes ajustar la configuración de tu navegador o dejar de
    usar nuestro sitio web.
  </p>
  <p *ngIf="language == 'en'" class="col-9 margin_auto padding_bottom">
    <strong>Consent</strong><br />By using our website, you agree to
    the use of cookies in accordance with this policy. If you do not agree to
    the use of cookies, you should adjust your browser settings or stop using our website.
    using our website.
  </p>
</div>
