<div class="container">
  <h3 *ngIf="language == 'es'" class="col-9 margin_auto margin_bottom padding_top">Contrato de Suscripción</h3>
  <h3 *ngIf="language == 'en'" class="col-9 margin_auto margin_bottom padding_top">Subscription Contract</h3>
  <p *ngIf="language == 'es'" class="col-9 margin_auto margin_bottom">
    Al suscribirte a StreamVision, entras en un contrato de suscripción con
    nosotros. Este contrato establece los términos y condiciones de tu
    suscripción y tus derechos y obligaciones como suscriptor.
  </p>
  <p *ngIf="language == 'en'" class="col-9 margin_auto margin_bottom">
    By subscribing to StreamVision, you enter into a subscription contract with us.
    us. This contract sets out the terms and conditions of your
    subscription and your rights and obligations as a subscriber.
  </p>
  <p  *ngIf="language == 'es'" class="col-9 margin_auto margin_bottom">
    <strong>Proceso de Suscripción</strong><br />
    Para suscribirte, debes proporcionar información veraz y completa y aceptar
    estos términos de suscripción. Tu suscripción se activará una vez que se
    procese el pago inicial.
  </p>
  <p  *ngIf="language == 'en'" class="col-9 margin_auto margin_bottom">
    <strong>Subscription Process</strong><br />
    To subscribe, you must provide true and complete information and agree to these subscription terms.
    these subscription terms. Your subscription will be activated once the initial
    initial payment is processed.
  </p>
  <p *ngIf="language == 'es'" class="col-9 margin_auto margin_bottom">
    <strong>Renovación Automática</strong><br />
    La suscripción se renueva automáticamente al final de cada período de
    suscripción, a menos que canceles antes de la fecha de renovación. Te
    notificaremos sobre la renovación automática y cualquier cambio en los
    precios con antelación razonable.
  </p>
  <p *ngIf="language == 'en'" class="col-9 margin_auto margin_bottom">
    <strong>Automatic Renewal</strong><br />
    Subscription automatically renews at the end of each subscription period, unless you cancel before the renewal date.
    unless you cancel before the renewal date. We will
    We will notify you of automatic renewal and any price changes in reasonable
    prices reasonably in advance.
  </p>
  <p  *ngIf="language == 'es'" class="col-9 margin_auto margin_bottom">
    <strong>Cancelación de la Suscripción</strong><br />
    Puedes cancelar tu suscripción en cualquier momento a través de la
    configuración de tu cuenta. La cancelación será efectiva al final del
    período de facturación actual y no recibirás reembolsos por los períodos no
    utilizados.
  </p>
  <p  *ngIf="language == 'en'" class="col-9 margin_auto margin_bottom">
    <strong>Cancellation of Subscription</strong><br />
    You can unsubscribe at any time through your account settings.
    your account settings. The cancellation will be effective at the end of the current
    current billing period and you will not receive refunds for unused periods.
    used periods.
  </p>
  <p *ngIf="language == 'es'" class="col-9 margin_auto margin_bottom">
    <strong>Modificaciones del Servicio</strong><br />
    Nos reservamos el derecho de modificar, suspender o descontinuar cualquier
    parte del servicio en cualquier momento. Te notificaremos sobre cualquier
    cambio significativo en el servicio.
  </p>
  <p *ngIf="language == 'en'" class="col-9 margin_auto margin_bottom">
    <strong>Modifications to the Service</strong><br />
    We reserve the right to modify, suspend or discontinue any part of the service at any time.
    part of the service at any time. We will notify you of any
    significant changes to the service.
  </p>
  <p  *ngIf="language == 'es'" class="col-9 margin_auto margin_bottom">
    <strong>Responsabilidades del Suscriptor</strong><br />
    Como suscriptor, debes mantener la confidencialidad de tus credenciales de
    acceso y no compartir tu cuenta con terceros. Eres responsable de todas las
    actividades que ocurran bajo tu cuenta.
  </p>
  <p  *ngIf="language == 'en'" class="col-9 margin_auto margin_bottom">
    <strong>Subscriber Responsibilities</strong><br />
    As a subscriber, you must maintain the confidentiality of your login credentials and not share your
    and not share your account with third parties. You are responsible for all
    activities that occur under your account.
  </p>
  <p *ngIf="language == 'es'" class="col-9 margin_auto padding_bottom"> 
    <strong>Contacto</strong><br />
    Si tienes alguna pregunta sobre tu suscripción, puedes contactarnos en
    <a href="mailto:soporte@streamvision.com">soporte&#64;streamvision.com</a>.
  </p>
  <p *ngIf="language == 'en'" class="col-9 margin_auto padding_bottom"> 
    <strong>Contact</strong><br />
    If you have any questions about your subscription, you can contact us at
    <a href="mailto:soporte@streamvision.com">soporte&#64;streamvision.com</a>.
  </p>
</div>
