@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

footer {
    /* background-color:#1d1f24; */
    background-color: #131a2e;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

a:hover {
    color: white;
    font-size: 18px;
}
.alinear{
    text-align: center;
    align-items: center;
}
.display-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.margin_1{
    margin: 1%;
}
.margin_1_abajo{
    margin: 0.5% 1% 2% 1%;
}
@media only screen and (max-width:576px){
    .tamano_responsive{
       font-size: 15px;
    }
 }